{% extends "appregion/base.html" %}

{% block title %}
Informations supplémentaires
{% endblock %}

{%block content %}
<title>affichage {{region.nom}}</title>
    {% load static %}
    <link href="{%static 'appregion/style.css' %}" rel="stylesheet" type="text/css"/>
</head>



<body>
<div class="table-title">
<h3>Les informations des régions</h3>
</div>
<table class="table-fill">
    <thead>
<tr>
    <td class="text-left">
    {{region}} a un biome de {{region.biome}} et voici sa description :
        <p></p>
        {{region.description}}
        <p></p>
<button>
        <a href="/appregion">Retour</a>
        </button>
</td>
</tr>
    </thead>
</table>
</body>

{% endblock %}