{% extends "appregion/base.html" %}

{% block title %}
Informations supplémentaires
{% endblock %}

{%block content %}
<title>affichage {{region.nom}}</title>
    {% load static %}
    <link href="{%static 'appregion/style.css' %}" rel="stylesheet" type="text/css"/>
</head>



<body>
<div class="table-title">
<h3>Les informations des champions</h3>
</div>
<table class="table-fill">
    <thead>
<tr>
    <td class="text-left">
    {{champ.alias}} a actuellement {{champ.age}}ans et vient de la région de la {{champ.region}}, son sexe est masculin et voici son histoire :
        <p></p>
        {{champ.classification}}
<p></p>
<button>
        <a href="/appregion">Retour</a>
        </button>
</td>
</tr>
    </thead>
</table>
</body>










{% endblock %}