<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    {% load static %}
    <link href="{%static 'appregion/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav>
    <ul class="topnav">
        <a href="interets.html"><p>Page d'accueil</p></a></a><a href="/appregion/"><p>Voir les régions</p></a></a><a
            href="/appregion/ajout/"><p>Voir les champions</p></a></a><a href="/appregion/ajout2/"><p>Ajouter un
        Champion</p></a></a><a href="/appregion/ajout/"><p>Ajouter une Région</p></a></a>

    </ul>
</nav>

<h1> Bienvenue sur mes informations de régions</h1>

<ol>
    {% for r in liste %}
    <li>{{r}} <a href="/appregion/affiche/{{r.id}}/"> affiche</a> <a href="/appregion/update/{{r.id}}/"> update</a> <a
            href="/appregion/delete/{{r.id}}/"> delete</a></li>
    {% endfor %}
</ol>

<h1> Bienvenue sur mes informations des champions</h1>
<ol>
    {% for c in liste2 %}
    <li>{{c}} <a href="/appregion/affiche2/{{c.id}}/"> affiche</a> <a href="/appregion/update2/{{c.id}}/"> update</a> <a
            href="/appregion/delete2/{{c.id}}/"> delete</a></li>
    {% endfor %}
</ol>


</body>
</html>