<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
  <link href="{%static 'appserv/style.css' %}" rel="stylesheet" type="text/css"/>
    <title>{% block title %} Mon projet Django {% endblock %}</title>
</head>
<body>
<header class="entetesite">
  <nav>
    <ul class="topnav">
        <a href="index2.html"><p>Page d'accueil</p></a></a><a href="/appregion/"><p>Voir les régions et les champions</p></a></a><a
            href="/appregion/ajout2/"><p>Ajouter un
        Champion</p></a></a><a href="/appregion/ajout/"><p>Ajouter une Région</p></a></a>

    </ul>
</nav>
</header>

<div class="main">
    {% block content %}
    <h1> block de test</h1>
    {% endblock %}
</div>
</body>
</html>